<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no " />
    <meta name="description" content="Assignment 3 test landing page" />
    <meta name="author" content="Juan Cocina" />
    <title>homepagetest</title>
    <!-- This is where i will include a link to a CSS file once i get everything running -->
  </head>

  <body>
    <!-- planning on including a navigation bar -->
    <!-- for now lets keep testing connectivity -->
    <h1 style="text-align:center;">Landing/Splash/Home page place holder</h1>
    <p> Most information here will be static. <br><br>
      I'm planning on having<br>
      - Links to the different services we will provide<br>
      - Ability to search restaurants in nearby areas(maybe by zipcode)<br>
      - Coupon codes to different delivery apps <br><br>
    </p>

    <h2 style="text-align:left;"><a href="login">Here is a tests login page using bootstrap<a></h2>
      <p> this link works with my testing environment using flask, files will be uploaded<br>
        hopefully the readme i include will explain enough to help anyone reading<br>
        to get it working similar to mine</p>
  </body>

  </html>
